body{
    background: linear-gradient(#d8adad, #a2a6d5);
    background-repeat: no-repeat;
background-attachment: fixed;
}

.tempContainer{
    border-style:hidden;
    border-radius: 30px;
    padding: 25px;
    font-weight: 400;
    width: 550px;
    height: 725px;
    text-align: center;
    background:rgba(255, 255, 255, 0.26)
}


.icon img{
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    height: 18rem;
    width: 18rem;
}

.temp{
    font-size: 100px;
}

.weather{
    font-size: 80px;
}

.location{
    font-size: 50px;
}
