body{
    background: linear-gradient(#f0c0c0, #b6bbf0);
    background-repeat: no-repeat;
background-attachment: fixed;
}

.tempContainer{
    border-style:hidden;
    border-radius: 30px;
    font-weight: 200;
    width: 500px;
    height: 700px;
    font-size: 100px;
    text-align: center;
    background:rgba(246, 243, 243, 0.2)
}